<div class="autoCharacter">
  {{#if @sound}}
    <p class="sound">
      {{@sound}}
    </p>
  {{/if}}
  <span class="character">
    {{yield}}
    <span class="face">
      {{this.emoji}}
    </span>
    {{#if @emotion}}
      <span class="text-2xl absolute top-1 right-2 shadow">
        {{@emotion}}
      </span>
    {{/if}}
  </span>
</div>
{{#if @say}}
  <p class="bubble autoBubble font-delius text-sm m-1 p-1 bg-white opacity-90 relative border-4 border-black {{this.sayClasses}}">
    <div class="c-triangle-right-up absolute bottom-0 left-0 -mb-5 ml-2"></div>
    {{@say}}
  </p>
{{/if}}
