<div class="autoCharacter">
  {{#if @sound}}
    <p class="sound">
      {{@sound}}
    </p>
  {{/if}}
  <span class="character">
    {{yield}}
    <span class="face">
      {{this.emoji}}
    </span>
    {{#if @emotion}}
      <span class="emotion">
        {{@emotion}}
      </span>
    {{/if}}
  </span>
</div>
{{#if @say}}
  <p class="bubble autoBubble font-delius text-sm m-1 p-1 bg-white opacity-90 relative border-4 border-black">
    {{@say}}
  </p>
{{/if}}
